body{

    background: darkgreen;


}
#Loginpage #labellogin{

    font-size: large;
    font-weight: bold;

}
#Signuppage #labellogin{

    font-size: large;
    font-weight: bold;

}
#signuptext{

    color: greenyellow;
}