#Mainpage {

  background-image: url("https://s1.1zoom.me/big0/131/Fast_food_Hamburger_Buns_Gray_background_Cutting_535312_1280x853.jpg");
    background-size:cover
}

#Loginpage {

    background-image: url("https://i.pinimg.com/originals/53/42/69/534269a4ab4697ccb537644a089f7e59.png");
    background-size:cover

}
#menupage{

    background-image: url("https://static.vecteezy.com/system/resources/previews/000/164/728/non_2x/fast-food-character-vectors.jpg");
    background-size:cover
}
#Signuppage{

    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--s4KD1lSr--/ux7mmbxamu8pvvst8zd1.jpg");
    background-size:cover


}

#Loginpage #labellogin{

    font-size: large;
    font-weight: bold;

}
#Signuppage #labellogin{

    font-size: large;
    font-weight: bold;

}
#signuptext{

    color: #0a7a09;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 10%;
    padding: 0 4px;
}

.column img {
    size:20px;
    vertical-align: middle;
}
#menupage #burger{

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 30px; /* ADDED */
    margin-left: -30px; /* ADDED */
}
#menupage #pepsi{

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 70px; /* ADDED */
    margin-left: -30px; /* ADDED */
}
#carttext{

    color: brown;
}